<%- include('./shared/header'); %>
  <main class="container">
    <div class="row justify-content-center error-404">
      <div class="col-md-6 error-404__content">
        <h3 class="error-404__title"><%= title%></h3>
        <p class="error-404__description"><%= description %></p>
        <a href="/" class="error-404__button">Back to homepage</a>
      </div>
  </main>
<%- include('./shared/footer'); %>