// Theme Colors
$dark-blue: #242930;
$royal-blue: #08153a;
$golden: #a49568;
$light-golden: #d2c7ae;
$light-gray: #f1f1f1;
$mid-blue: #363a40;
$mid-gray: #c5c5c5;
$green: #34d2a1;
$dark-green: #138e93;

// Font weights
$font-text: 'Raleway', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
