.header {
  background-color: $dark-blue;
  border-bottom: 1px solid $golden;
  padding: 30px 0;

  .navbar-brand {
    color: $golden;
    font-size: 1.5rem;
    font-weight: $font-bold;
    height: 50px;
    padding: 0;
    vertical-align: top;
    width: auto;

    img {
      display: inline-block;
      height: 100%;
      margin-right: 5px;
    }

    span {
      display: inline-block;
      line-height: 50px;
    }
  }
}
